# Google Sheets
GOOGLE_SHEET_CREDENTIALS=credentials/service_account.json
GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/1jjC4oaWsyqLzG6vT5EwJkVAgJCXGpz_7fWr6wb7OU3o/edit?usp=sharing
GOOGLE_SHEET_NAME=AutoUpload
GOOGLE_SHEET_WORKSHEET=Sheet1

# Facebook Graph API
FB_PAGE_ID=your_facebook_page_id
FB_ACCESS_TOKEN=your_facebook_page_access_token

# Instagram Graph API
IG_USER_ID=your_instagram_business_account_id

# Google Cloud
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
USE_SECRET_MANAGER=false
